// Media query styling

$desktop-min-size: 800px;
$tablet-min-size: 500px;

@mixin tablet-view {
  @media (max-width: #{$tablet-min-size}) {
    @content;
  }
}
@mixin desktop-view {
  @media (max-width: #{$desktop-min-size}) {
    @content;
  }
}

// General reusable styles

@mixin make-flex(
  $flex-direction: row,
  $justify-content: flex-start,
  $align-items: flex-start,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
  align-items: $align-items;
}
@mixin make-overlay($base-color: $black, $opacity: 0.1, $z-index: 2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $z-index;
  width: 100%;
  height: 100%;
  background-color: $base-color;
  opacity: $opacity;
}
@mixin smoothen-input($bg-color, $font-color: $body-font-color, $border-color: $darkgray, $focus-border-color: $white) {
  background-color: $bg-color;
  color: $font-color;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $darkgray;
  border-left: none;
  padding: 10px 10px 8.75px;
  transition: border-bottom 500ms ease-in-out;

  &:focus {
    outline: none;
    border-bottom: 1px solid $focus-border-color;
    transition: border-bottom 500ms ease-in-out;
  }
}
@mixin colorize-button($bg-color, $font-color) {
  background-color: $bg-color;
  color: $font-color;
  border: 1.25px solid $font-color;
  transition: background-color 375ms, color 375ms;

  &:hover {
    background-color: $font-color;
    font-weight: bold;
    color: $bg-color;
    transition: background-color 375ms, font-weight 375ms, color 375ms;
  }
}
